#uc-desj-receipt {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid lightGrey;
}
#uc-desj-receipt div {
  margin-bottom: 5px;
}
#uc-desj-receipt .field-label {
  font-weight:bold;
}
#uc-desj-receipt pre {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 0.9em;
}
#uc-desj-receipt .print {
  margin: 10px 0;
  font-size: 1.1em;
}

